<div class="nav-side-menu">
    <div class="brand">UNILEVER<!-- <img src="img/unilever.jpg" alt=""> --></div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
            <li class="active" ng-class="{'active':class_active}">
                <a >
                    <i class="fa fa-home" aria-hidden="true"></i> Dashboard
                </a>
            </li>
            <li data-toggle="collapse" data-target="#products" class="collapsed">
                <a ><i class="fa fa-graduation-cap" aria-hidden="true"></i> Notice Board <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="products">
                <li class="active"><a >Inbox</a></li>
                <li><a >Sent</a></li>
                <li><a >Drafts</a></li>
            </ul>
            <li data-toggle="collapse" data-target="#service" class="collapsed">
                <a ><i class="fa fa-globe fa-lg"></i> My services <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="service">
                <li>New Service 1</li>
            </ul>


            <li data-toggle="collapse" data-target="#new" class="collapsed">
                <a ><i class="fa fa-car fa-lg"></i> Hostel Management <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="new">
                <li>Add something</li>

            </ul>
            <li>
                <a >
                    <i class="fa fa-user fa-lg"></i> Discussion Board
                </a>
            </li>
            <li>
                <a >
                    <i class="fa fa-users fa-lg"></i> Classmates
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- <div class="container" id="main">
    <div class="row">
        <div class="col-md-12">
            <h4>This is suppose to be in the main content</h4>
        </div>
    </div>
</div> -->